{{> leftbar }}

 

        <div class="contentbar">                
                <!-- Start row -->
                <div class="row">
                    <!-- Start col -->
                    <div class="col-lg-12">
						<div class="card m-b-30">
								<div class="card-header">
									<h5 class="card-title">Bienvenido {{user.usuario}}</h5>
								</div>
						</div>
					</div>						
				</div>
		</div>		
{{> footer }}