<!-- End Contentbar -->
            <!-- Start Footerbar -->
            <div class="footerbar">
                <footer class="footer">
                    <p class="mb-0">© 2020 Nomina2020 - All Rights Reserved. Desarrollado por: <a target="_blank" href="https://tupaginaonline.net">Jose Fuentes | </a></p>
                </footer>
            </div>
            <!-- End Footerbar -->
        </div>
        <!-- End Rightbar -->