<!-- Start Leftbar -->
        <div class="leftbar">
            <!-- Start Sidebar -->
            <div class="sidebar">               
                <!-- Start Navigationbar -->
                <div class="navigationbar">
                    <div class="vertical-menu-icon">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						
						
                            <div class="logobar">
                                <a href="" class="logo logo-small"><img src="/public/assets/images/small_logo.svg" class="img-fluid" alt="logo"></a>
                            </div>
							
							
							
                            <a class="nav-link active" id="v-pills-nomina-tab" data-toggle="pill" href="#v-pills-nomina" role="tab" aria-controls="v-pills-nomina" aria-selected="false"><img src="/public/assets/images/svg-icon/ui-kits.svg" class="img-fluid" alt="UI Kits" data-toggle="tooltip" data-placement="top" title="N贸mina"></a>
							
							
							
							 <a class="nav-link " id="v-pills-employees-tab" data-toggle="pill" href="#v-pills-employees" role="tab" aria-controls="v-pills-employees" aria-selected="true"><img src="/public/assets/images/svg-icon/crm.svg" class="img-fluid" alt="CRM" data-toggle="tooltip" data-placement="top" title="Empleados"></a>
							
							
                            <a class="nav-link" id="v-pills-concepts-tab" data-toggle="pill" href="#v-pills-concepts" role="tab" aria-controls="v-pills-concepts" aria-selected="false"><img src="/public/assets/images/svg-icon/pages.svg" class="img-fluid" alt="Pages" data-toggle="tooltip" data-placement="top" title="Conceptos"></a>
							
							
                        </div>
                    </div>
                    <div class="vertical-menu-detail">
                        <div class="logobar">
                            <a href="/" class="logo logo-large h3 font-weight-bold">N贸mina<small>2020</small></a>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
						
						
						
                            <div class="tab-pane fade show active" id="v-pills-nomina" role="tabpanel" aria-labelledby="v-pills-nomina-tab">
                                <ul class="vertical-menu">
                                    <li><h5 class="menu-title">N贸mina</h5></li>
									
                                    <li><a href="index.html"><img src="/public/assets/images/svg-icon/dashboard.svg" class="img-fluid" alt="dashboard">Nuevo</a></li>
									
                                </ul>
                            </div>
							
                            <div class="tab-pane fade" id="v-pills-employees" role="tabpanel" aria-labelledby="v-pills-employees-tab">
                                <ul class="vertical-menu">
								
								    <li><h5 class="menu-title">Empleados</h5></li>
									
									<li><a href="#" class=" text-secondary">- Buscar</a></li>	
									
									<li><a href="#" class=" text-secondary">- Datos</a></li>
									
									<li><a href="#" class=" text-secondary">- Conceptos (Asignaciones y deducciones)</a></li>
									
									<li><a href="#" class="text-secondary">- Prestamos </a></li>
									
									<li><a href="#" class=" text-secondary">- Adicional</a></li>
								
                                </ul>
                            </div>                            
                            <div class="tab-pane fade" id="v-pills-concepts" role="tabpanel" aria-labelledby="v-pills-concepts-tab">
                                <ul class="vertical-menu">
                                    <li><h5 class="menu-title">Conceptos</h5></li>
                                   
                                </ul>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <!-- End Navigationbar -->
            </div>
            <!-- End Sidebar -->
        </div>
        <!-- End Leftbar -->	
			
		<!-- Start Rightbar -->
        <div class="rightbar">
            <!-- Start Topbar Mobile -->
            <div class="topbar-mobile">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="mobile-logobar">
                            <a href="index.html" class="mobile-logo">N贸mina2020</a>
                        </div>
                        <div class="mobile-togglebar">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <div class="topbar-toggle-icon">
                                        <a class="topbar-toggle-hamburger" href="javascript:void();">
                                            <img src="/public/assets/images/svg-icon/horizontal.svg" class="img-fluid menu-hamburger-horizontal" alt="horizontal">
                                            <img src="/public/assets/images/svg-icon/verticle.svg" class="img-fluid menu-hamburger-vertical" alt="verticle">
                                         </a>
                                     </div>
                                </li>
                                <li class="list-inline-item">
                                    <div class="menubar">
                                        <a class="menu-hamburger" href="javascript:void();">
                                            <img src="/public/assets/images/svg-icon/menu.svg" class="img-fluid menu-hamburger-collapse" alt="collapse">
                                            <img src="/public/assets/images/svg-icon/close.svg" class="img-fluid menu-hamburger-close" alt="close">
                                         </a>
                                     </div>
                                </li>                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Topbar -->
            <div class="topbar">
                <!-- Start row -->
                <div class="row align-items-center">
                    <!-- Start col -->
                    <div class="col-md-12 align-self-center">
                        <div class="togglebar">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <div class="menubar">
                                        <a class="menu-hamburger" href="javascript:void();">
                                           <img src="/public/assets/images/svg-icon/menu.svg" class="img-fluid menu-hamburger-collapse" alt="menu">
                                           <img src="/public/assets/images/svg-icon/close.svg" class="img-fluid menu-hamburger-close" alt="close">
                                         </a>
                                     </div>
                                </li>
                                <li class="list-inline-item">
                                    <div class="searchbar">
                                        <form>
                                            <div class="input-group">
                                                <div class="input-group-append">
                                                    <button class="btn" type="submit" id="button-addonSearch"><img src="/public/assets/images/svg-icon/search.svg" class="img-fluid" alt="search"></button>
                                                </div>
                                                <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addonSearch">                                              
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="infobar">
                            <ul class="list-inline mb-0">
                               
                                <li class="list-inline-item">
                                    <div class="profilebar">
                                        <div class="dropdown">
										
										
                                          <a class="dropdown-toggle" href="#" role="button" id="profilelink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/public/assets/images/users/profile.svg" class="img-fluid" alt="profile"><span class="live-icon">{{user.nombre}}</span><span class="feather icon-chevron-down live-icon"></span></a>
										  
										  
										  
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profilelink">
                                                <div class="dropdown-item">
                                                    <div class="profilename">
                                                      <h5>{{user.nombre}}</h5>
                                                    </div>
                                                </div>
                                                <div class="userbox">
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="media dropdown-item">
                                                            <a href="#" class="profile-icon"><img src="/public/assets/images/svg-icon/crm.svg" class="img-fluid" alt="user">Perfil</a>
                                                        </li>
                                                                                                              
                                                        <li class="media dropdown-item">
                                                            <a href="/logout" class="profile-icon"><img src="/public/assets/images/svg-icon/logout.svg" class="img-fluid" alt="logout">Logout</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                   
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End col -->
                </div> 
                <!-- End row -->
            </div>
            <!-- End Topbar -->
            <!-- Start Breadcrumbbar --> 
			<div class="mt-5 pt-5">			
			{{> errors }}
			{{> messages }}
			</div>
			