<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nómina2020</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="/public/assets/images/favicon.ico">
    <!-- Start css -->    
    <!-- Apex css -->
    <link href="/public/assets/plugins/apexcharts/apexcharts.css" rel="stylesheet">
    <!-- jvectormap css -->
    <link href="/public/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">
    <!-- Slick css -->
    <link href="/public/assets/plugins/slick/slick.css" rel="stylesheet">
    <link href="/public/assets/plugins/slick/slick-theme.css" rel="stylesheet">
	 <!-- DataTables css -->
    <link href="/public/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive Datatable css -->
    <link href="assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Switchery css -->
    <link href="/public/assets/plugins/switchery/switchery.min.css" rel="stylesheet">
    <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/flag-icon.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css">
    
</head>
<body class="vertical-layout">

		<div id="containerbar">
            
			<!-- Start Leftbar -->
        <div class="leftbar">
            <!-- Start Sidebar -->
            <div class="sidebar">               
                <!-- Start Navigationbar -->
                <div class="navigationbar">
                    <div class="vertical-menu-icon">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						
						
                            <div class="logobar">
                                <a href="" class="logo logo-small"><img src="/public/assets/images/small_logo.svg" class="img-fluid" alt="logo"></a>
                            </div>
							
							
							
                            <a class="nav-link active" id="v-pills-nomina-tab" data-toggle="pill" href="#v-pills-nomina" role="tab" aria-controls="v-pills-nomina" aria-selected="false"><img src="/public/assets/images/svg-icon/ui-kits.svg" class="img-fluid" alt="UI Kits" data-toggle="tooltip" data-placement="top" title="Nómina"></a>
							
							
							
							 <a class="nav-link " id="v-pills-employees-tab" data-toggle="pill" href="#v-pills-employees" role="tab" aria-controls="v-pills-employees" aria-selected="true"><img src="/public/assets/images/svg-icon/crm.svg" class="img-fluid" alt="CRM" data-toggle="tooltip" data-placement="top" title="Empleados"></a>
							
							
                            <a class="nav-link" id="v-pills-concepts-tab" data-toggle="pill" href="#v-pills-concepts" role="tab" aria-controls="v-pills-concepts" aria-selected="false"><img src="/public/assets/images/svg-icon/pages.svg" class="img-fluid" alt="Pages" data-toggle="tooltip" data-placement="top" title="Conceptos"></a>
							
							
                        </div>
                    </div>
                    <div class="vertical-menu-detail">
                        <div class="logobar">
                            <a href="/" class="logo logo-large h3 font-weight-bold">Nómina<small>2020</small></a>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
						
						
						
                            <div class="tab-pane fade show active" id="v-pills-nomina" role="tabpanel" aria-labelledby="v-pills-nomina-tab">
                                <ul class="vertical-menu">
                                    <li><h5 class="menu-title">Nómina</h5></li>
									
                                    <li><a href="index.html"><img src="/public/assets/images/svg-icon/dashboard.svg" class="img-fluid" alt="dashboard">Nuevo</a></li>
									
                                </ul>
                            </div>
							
                            <div class="tab-pane fade" id="v-pills-employees" role="tabpanel" aria-labelledby="v-pills-employees-tab">
                                <ul class="vertical-menu">
								
								    <li><h5 class="menu-title">Empleados</h5></li>
									
									<li><a href="#" class=" text-secondary">- Buscar</a></li>	
									
									<li><a href="#" class=" text-secondary">- Datos</a></li>
									
									<li><a href="#" class=" text-secondary">- Conceptos (Asignaciones y deducciones)</a></li>
									
									<li><a href="#" class="text-secondary">- Prestamos </a></li>
									
									<li><a href="#" class=" text-secondary">- Adicional</a></li>
								
                                </ul>
                            </div>                            
                            <div class="tab-pane fade" id="v-pills-concepts" role="tabpanel" aria-labelledby="v-pills-concepts-tab">
                                <ul class="vertical-menu">
                                    <li><h5 class="menu-title">Conceptos</h5></li>
                                   
                                </ul>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <!-- End Navigationbar -->
            </div>
            <!-- End Sidebar -->
        </div>
        <!-- End Leftbar -->	
			
		<!-- Start Rightbar -->
        <div class="rightbar">
            <!-- Start Topbar Mobile -->
            <div class="topbar-mobile">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="mobile-logobar">
                            <a href="index.html" class="mobile-logo">Nómina2020</a>
                        </div>
                        <div class="mobile-togglebar">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <div class="topbar-toggle-icon">
                                        <a class="topbar-toggle-hamburger" href="javascript:void();">
                                            <img src="/public/assets/images/svg-icon/horizontal.svg" class="img-fluid menu-hamburger-horizontal" alt="horizontal">
                                            <img src="/public/assets/images/svg-icon/verticle.svg" class="img-fluid menu-hamburger-vertical" alt="verticle">
                                         </a>
                                     </div>
                                </li>
                                <li class="list-inline-item">
                                    <div class="menubar">
                                        <a class="menu-hamburger" href="javascript:void();">
                                            <img src="/public/assets/images/svg-icon/menu.svg" class="img-fluid menu-hamburger-collapse" alt="collapse">
                                            <img src="/public/assets/images/svg-icon/close.svg" class="img-fluid menu-hamburger-close" alt="close">
                                         </a>
                                     </div>
                                </li>                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Topbar -->
            <div class="topbar">
                <!-- Start row -->
                <div class="row align-items-center">
                    <!-- Start col -->
                    <div class="col-md-12 align-self-center">
                        <div class="togglebar">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <div class="menubar">
                                        <a class="menu-hamburger" href="javascript:void();">
                                           <img src="/public/assets/images/svg-icon/menu.svg" class="img-fluid menu-hamburger-collapse" alt="menu">
                                           <img src="/public/assets/images/svg-icon/close.svg" class="img-fluid menu-hamburger-close" alt="close">
                                         </a>
                                     </div>
                                </li>
                                <li class="list-inline-item">
                                    <div class="searchbar">
                                        <form>
                                            <div class="input-group">
                                                <div class="input-group-append">
                                                    <button class="btn" type="submit" id="button-addonSearch"><img src="/public/assets/images/svg-icon/search.svg" class="img-fluid" alt="search"></button>
                                                </div>
                                                <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addonSearch">                                              
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="infobar">
                            <ul class="list-inline mb-0">
                               
                                <li class="list-inline-item">
                                    <div class="profilebar">
                                        <div class="dropdown">
                                          <a class="dropdown-toggle" href="#" role="button" id="profilelink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/public/assets/images/users/profile.svg" class="img-fluid" alt="profile"><span class="live-icon">John Doe</span><span class="feather icon-chevron-down live-icon"></span></a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profilelink">
                                                <div class="dropdown-item">
                                                    <div class="profilename">
                                                      <h5>John Doe</h5>
                                                    </div>
                                                </div>
                                                <div class="userbox">
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="media dropdown-item">
                                                            <a href="#" class="profile-icon"><img src="/public/assets/images/svg-icon/crm.svg" class="img-fluid" alt="user">My Profile</a>
                                                        </li>
                                                        <li class="media dropdown-item">
                                                            <a href="#" class="profile-icon"><img src="/public/assets/images/svg-icon/email.svg" class="img-fluid" alt="email">Email</a>
                                                        </li>                                                        
                                                        <li class="media dropdown-item">
                                                            <a href="#" class="profile-icon"><img src="/public/assets/images/svg-icon/logout.svg" class="img-fluid" alt="logout">Logout</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                   
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End col -->
                </div> 
                <!-- End row -->
            </div>
            <!-- End Topbar -->
            <!-- Start Breadcrumbbar --> 
			{{{ body }}}			
            
            <!-- End Contentbar -->
            <!-- Start Footerbar -->
            <div class="footerbar">
                <footer class="footer">
                    <p class="mb-0">© 2020 Nomina2020 - All Rights Reserved. Desarrollado por: <a target="_blank" href="https://tupaginaonline.net">Jose Fuentes | </a></p>
                </footer>
            </div>
            <!-- End Footerbar -->
        </div>
        <!-- End Rightbar -->	
		</div>
    <!-- End Containerbar -->
    <!-- Start js -->        
    <script src="/public/assets/js/jquery.min.js"></script>
    <script src="/public/assets/js/popper.min.js"></script>
    <script src="/public/assets/js/bootstrap.min.js"></script>
    <script src="/public/assets/js/modernizr.min.js"></script>
    <script src="/public/assets/js/detect.js"></script>
    <script src="/public/assets/js/jquery.slimscroll.js"></script>
    <script src="/public/assets/js/vertical-menu.js"></script>
    <!-- Switchery js -->
    <script src="/public/assets/plugins/switchery/switchery.min.js"></script>
    <!-- Apex js -->
    <script src="/public/assets/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="/public/assets/plugins/apexcharts/irregular-data-series.js"></script>  
    <!-- Vector Maps js -->
    <script src="/public/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/public/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>  
    <!-- Slick js -->
    <script src="/public/assets/plugins/slick/slick.min.js"></script>    
    <!-- Custom Dashboard js -->   
    <script src="/public/assets/js/custom/custom-dashboard.js"></script>
	<!-- Datatable js -->
    <script src="/public/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/public/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/public/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="/public/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="/public/assets/plugins/datatables/jszip.min.js"></script>
    <script src="/public/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="/public/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="/public/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="/public/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="/public/assets/plugins/datatables/buttons.colVis.min.js"></script>
    <script src="/public/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="/public/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <script src="/public/assets/js/custom/custom-table-datatable.js"></script>
    <!-- Core js -->
    <script src="/public/assets/js/core.js"></script>
    <!-- End js -->
</body>
</html>