<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>N&oacute;mina2020</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="vertical-layout">
		<div id="containerbar">
		       {{{ body }}}	
		</div>
	<!-- End Containerbar -->
    <!-- Start js -->        
    <script src="/public/assets/js/jquery.min.js"></script>
    <script src="/public/assets/js/popper.min.js"></script>
    <script src="/public/assets/js/bootstrap.min.js"></script>
    <script src="/public/assets/js/modernizr.min.js"></script>
    <!-- End js -->
</body>
</html>