<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nómina2020</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="/public/assets/images/favicon.ico">
  <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/icons.css" rel="stylesheet" type="text/css">
   
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css">
	 <!-- DataTables css -->
    <link href="/public/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
   
    <link href="assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Switchery css -->
    
   
    
</head>
<body class="vertical-layout">

		<div id="containerbar">
		        {{> errors }}
				{{> messages }}
				{{{ body }}}	
			
		</div>
		
		
    <!-- End Containerbar -->
    <!-- Start js -->        
    <script src="/public/assets/js/jquery.min.js"></script>
    <script src="/public/assets/js/popper.min.js"></script>
    <script src="/public/assets/js/bootstrap.min.js"></script>
    <script src="/public/assets/js/modernizr.min.js"></script>
   
   
    <script src="/public/assets/js/vertical-menu.js"></script>
    <!-- Switchery js -->
   
    <script src="/public/assets/js/custom/custom-dashboard.js"></script>
	<!-- Datatable js -->
    <script src="/public/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/public/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
  
 
    <script src="/public/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="/public/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <script src="/public/assets/js/custom/custom-table-datatable.js"></script>
    <!-- Core js -->
    <script src="/public/assets/js/core.js"></script>
    <!-- End js -->
</body>
</html>